version: 2
jobs:
   build:
     docker:
       - image: circleci/openjdk:8-jdk-browsers
     steps:
       - checkout
       - run: mvn dependency:go-offline
       - run: mvn package
   test:
     docker:
       - image: circleci/openjdk:8-jdk-browsers
     steps:
       - checkout
       - run: mvn test
   deploy:
     machine:
       enabled: true
     steps:
       - checkout
       - run: echo "Hello Deploy"
#     production:
#       branch: master
#       heroku:
#         appname: lit-chamber-7112
workflows:
   version: 2
   build-test-and-deploy:
     jobs:
       - build
       - test
       - deploy:
         requires:
           - build
           - test
